body {
    background-color:ivory;
}

h1,
section,
ol {
    text-align: center;
}

h2 {
    color: black;
    font-size: large;
    text-align: right;
}

.quizQuestions {
    background-color:ivory;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.time {
    text-align: right;
    margin-right: 20rem;
}