body {
    background-color:ivory;
}

h1,
section,
.quizQuestions {
    text-align: center;
    padding: 5px;

}

h2 {
    color: black;
    font-size: large;
    text-align: right;
}

.quizQuestions {
    background-color:ivory;
    margin: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}



.time {
    text-align: right;
    margin-right: 20rem;
}

.startButton {
    text-align: center;
}